@import "tailwindcss";
@theme {
  --color-primary-color: #82ff1f;
  --color-background-color: #121212;
};

:root {
  --background: #ffffff;
  --foreground: #121212;


}


.dark {
  --background: #121212;
  --foreground: #d5d5d5;

}

body {
  background-color: var(--background);
  color: var(--foreground);
}
